/* style sheet for main page */

body {
    background-color: #164EBC;
}
.canvas {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    stroke: #164EBC;
}
.map {
    transform-origin: center center;
    transition: transform 0.3s;
}
.innerland:hover{
    fill: white;
}