@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap');

@font-face {
    font-family: "Xingkai";
    src: url('chinese.stxingka.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    min-width: 800px; /* Minimum Shrinking */
    overflow: hidden; /* Disable scrolling */
    font-family: Arial, sans-serif;
}

h1 {
    padding-bottom: 1%;
    font-size: 4vh;
    font-family: 'Noto Serif', serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    text-shadow: 1px 0px 10px rgb(255, 255, 255);
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

/* Text Style & Animation */
p {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    transition: color 1s ease 1s;
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(10px);
}

span:nth-child(1) {
    animation: fade-in 1s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 1s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* Structure Frame */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-grid,
.bottom-grid {
    /*display: flex;*/
    display: grid;
    align-items: center;
    justify-content: center;
}

.middle-grid {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: 33% 67%;
}

/*.content-grid {
    grid-auto-rows: 1fr;
}*/

.side-grid {
    display: grid;
    gap: 15%;
    /*grid-template-rows: repeat(1fr, 6);*/
    /*  StackOverflow reference: https://stackoverflow.com/questions/44488357/equal-height-rows-in-css-grid-layout  */
    grid-auto-rows: 1fr;
}

#side {
    background-color: rgba(128, 128, 128, 50%);
    margin-right: 5%;
    border-radius: 10px;
}

#instructions {
    background-color: rgba(128, 128, 128, 50%);
    border-radius: 10px;
}

/* Content Display */
#instruction-image {
    width: 70%;
    height: auto;
}

.animated-line-image {
    animation: fadeIn 3s ease;
    width: 63%;
    height: auto;
}

.line-image {
    width: 63%;
    height: auto;
}

#interpretation-text {
    display: none;
    /*font-size: 1.5rem;*/
    font-size: 2vh;
    margin-bottom: 0%;
    animation: blurFadeIn 3s ease-in forwards;
}



/* Result Style & Animation */
.inactive {
    display: none;
}

.active {
    display: flex;
    margin-top: -2%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    color: Black;
    font-family: 'Xingkai';
    /*font-size: 200px;*/
    font-size: 30vh;
    text-align: center;
    -webkit-animation: blurFadeIn 3s ease-in backwards;
	-moz-animation: blurFadeIn 3s ease-in backwards;
	-ms-animation: blurFadeIn 3s ease-in backwards;
	animation: blurFadeIn 3s ease-in backwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(5);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(5);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}

@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(5);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(2);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}

/* Coin Style & Animation */
.coin-display {
    animation: none;
    display: none;
    margin-top: 23%;
}

@keyframes h-rotate-0 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(2970deg);
    }
}

@keyframes h-rotate-1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(2971deg);
    }
}

@keyframes t-rotate-0 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(3150deg);
    }
}

@keyframes t-rotate-1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(3151deg);
    }
}

/* Button Style */
.action-button {
    /*padding: 20px 50px;*/
    padding: 2vh 3vw;
    border: none;
    background-color: rgba(128, 128, 128, 50%);
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.action-button:hover{
    background-color: rgba(66, 45, 35, 70%);
    color: white;
}

.button-container-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button-container-bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(66, 45, 35, 70%);
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}

.menu-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.menu-button:hover {
    background-color: rgba(66, 45, 35, 50%);
}

/* Info Screen Style */
.info-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 85px;
    width: 400px;
    height: 300px;
    border-radius: 10%;
    background-color: rgba(66, 45, 35, 70%);
    text-align: center;
    justify-content: center;
}

.info-text p, .info-text h1 {
    color: white;
    width: 90%;
    font-size: 15px;
}