@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../../../assets/moly/moly-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 10vh;
    text-shadow: #FC0 0 -10px 12px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#middle {
    display: grid;
    grid-auto-rows: 1fr;
    max-height: 50%;
    object-fit: contain;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#filters {
    display: none;
}

#meltButton {
    padding: 2vh 5vh;
    font-size: 2.5vh;
    background-color: transparent;
    color: silver;
    cursor: pointer;
    border-radius: 2vh;
    border: 1px solid;
    overflow: hidden;
    position: relative;

    &:after {
        background-color: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }
}

#meltButton:hover {

    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

#text1,
#text2 {
    color: silver;
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    /*font-size: 80pt;*/
    font-size: 15vh;
    text-align: center;
    user-select: none;
}

#interpretation-container
{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.interpretation {
    grid-column: 2;
    text-align: center;
    font-size: 4vh;
    font-weight: 200;
    margin: auto;
    animation: fadeIn 3s ease-in;
    color: rgba(255, 255, 255, 0.719);
    text-shadow: rgb(255, 89, 0) 0 0px 12px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Button Style */
.button-container-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button-container-bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(192, 192, 192, 70%);
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}

.menu-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.menu-button:hover {
    background-color: rgba(192, 192, 192, 50%);
}

/* Info Screen Style */
.info-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 85px;
    width: 400px;
    height: 300px;
    border-radius: 10%;
    background-color: rgba(192, 192, 192, 70%);
    text-align: center;
    justify-content: center;
}

.info-text p,
.info-text h1 {
    color: black;
    width: 90%;
    font-size: 15px;
}