/* style sheet for main page */
body {
    margin: 0;
    background: url("../assets/background.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.main {
    display: grid;
    grid-template-columns: 77% 23%;
    height: 100vh;
    overflow: hidden;
}

.canvas {
    display: grid;
    grid-template-rows: 5% 95%;
}

.title {
    font-family: cursive;
    font-size: 10vh;
    font-weight: 700;
    color: gold;
    text-shadow: 1px 0 10px rgb(0 0 0);
    padding-left: 5vh;
}

/* styling for map */
.map-container {
    width: min-content;
}

.map {
    width: 100vw;
    height: 100vh;
    transform-origin: center center;
    transition: transform 0.3s;
}

.location:hover {
    fill: rgb(98 173 173);
}

/* styling for side panel */
.side-panel {
    display: none;
    width: 25vw;
    height: 100vh;
    flex-shrink: 0;
    padding: 20px;
    color: #fff;
    background: rgb(244 244 242);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgb(0 0 0 / 35%);
}

.side-panel-open .side-panel {
    display: initial;
}

.layout {
    width: 20vw;
    margin-top: 60%;
    padding: 1vh;
    border-radius: 2vh;
    background-color: rgb(0 0 0 / 60%);
    display: grid;
    gap: 10%;
}

#instruction-text {
    font-size: 2vh;
}

/* styling for buttons */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.enter-button {
    position: relative;
    display: inline-block;
    width: 15vh;
    height: 6vh;
    font-size: 3vh;
    border-radius: 3vh;
    border: 1px solid;
    background-color: rgb(0 0 0 / 60%);
    color: white;
    cursor: pointer;
    overflow: hidden;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #846e43;
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}

.menu-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.menu-button:hover {
    background-color: #857557;
}

/* styling for info pop up screen */
.info-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 85px;
    width: 400px;
    height: 300px;
    border-radius: 10%;
    background-color: #846e43;
    text-align: center;
    justify-content: center;
}

.info-text {
    color: white;
    width: 90%;
}