/* style sheet for main page */
body {
    background-color: #164EBC;
}

.canvas {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    stroke: #164EBC;
}

.map {
    transform-origin: center center;
    transition: transform 0.3s;
}

.location:hover{
    fill: white;
}

/* styling for buttons */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
  
.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #846e43;
    border-radius: 50%;
    margin-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}

.menu-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.menu-button:hover {
    background-color: #857557;
}

/* styling for info pop up screen */
.info-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 85px;
    width: 400px;
    height: 300px;
    border-radius: 10%;
    background-color: #846e43;
    text-align: center;
    justify-content: center;    
}

.info-text {
    color: white;
    width: 90%;
}

